/* 
first give different section of the web background color to tell where is everything at

*/
* {
    padding: 0;
    margin: 0;
    /* this make the padding, border, 
    and the width of the content the same as the set width
    this helps with all the boxes getting pushed around when they gets too big

    the default is the set width just the context width. (context-box)
    */
    box-sizing: border-box;
}
.container {
    font-family: sans-serif;
    width: 1200px;
    margin: auto;
}
#main-header {
    background-color: red;
    color: orange;
    margin: 10px;
}
.nav {
    margin: 15px;
    float: right;
}
/* 
float allows the element to be "not of flow" with the page 
and also not overlap with other elements, which will surround the floated element
if all the elements in an element is floated then it will be treated as 
there are no element when it comes to the width and height of the parent element
(collapsed element)

*/
.author-img {
    float: left;
}
.author-name {
    float: left;
    margin-left: 10px;
}
h1 {
    float: left;
}
/* one way to allow the float elements to work 
when all the elements in the parent element are floated */
.clear {
    clear: both;
}
/* this is widly used */
/* the clear fix hack */
/* this archieve the same thing but we don't need to create a new element
with this after element added to the parent element what is collapsed, this fix it */
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
ul {
    margin-left: 20px;
}
.related {
    margin-left: 0px;
    list-style: none;
}
article {
    background-color: lightgreen;
    width: 825px;
    float: left;
}
aside {
    background-color: yellow;
    width: 300px;
    float: right;
    /* this causes the aside get pushed down because it is too big */
    padding: 50px 40px;
    /* box-sizing in the universal selector fix this issue */
}
footer {
    background-color: aqua;
    clear: both;
}
