/* 
row and column UNITS

px: a fixed size
fr: 
in column: allows the elements to grow to occupy all the availible space
in row: stretch all the elements in the grid to match the tallest element
auto: makes the element only take up the space it needs

change location of a element in the grid
grid-column
grid-row

1/3 : from gridline 1 to gridline 3
1 : from gridline 1 and take up the original space
1/span 2 : from gridline 1 and take up 2 grid
2/-1 : start from gridline 2 and take up the rest of the row or column
1/-1 : take up the entire row or column
these two works because 
the gridlines from the left and top start at 1
the gridlines from the right and buttom start at -1

*/
.container1 {
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 40px;
    margin: 40px;

    /* basic CSS grid */
    display: grid;
    /* this means we created 4 columns with these sizes */
    /* the number of rows will be automaticly generated 
    to fit all the elements */
    /* every element in the same row will be the same height 
    as the tallest element in the row */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*                number of colums  size of the columns */
    /* grid-template-columns: repeat(4, 1fr); */
    /* this is for rows */
    /* if an element have an already defined size it will not stretch */
    grid-template-rows: repeat(2, 1fr);
    /* this is the only to add space between grid
    margin won't work */
    /* gap: 30px */
    column-gap: 30px;
    row-gap: 60px;
    /* display: none; */
}

.container2 {
    /* display: none; */

    font-family: sans-serif;
    background-color: black;
    font-size: 40px;
    margin: 100px;

    width: 1000px;
    height: 600px;

    display: grid;
    grid-template-columns: 125px 200px 125px;
    grid-template-rows: 250px 100px;
    gap: 50px;

    /* for all the grid */
    justify-content: center;
    align-content: center;
    /* for the content in the grid */
    align-items: center;
    justify-items: center;
}

.--1 {
    background-color: aqua;
}
.--3 {
    background-color: red;
    height: 150px;

}
.--4 {
    background-color: violet;
}
.--5 {
    background-color: yellow;
}
.--6 {
    background-color: green;
}
.--7 {
    background-color: pink;
}
.--8 {
    background-color: orange;
    /* this change the location of this element
    the rest of the elements will be automaticly push to the next location */
    grid-column: 2/3;
    grid-row: 1/2;
}
.--2 {
    background-color: blue;
    /* this also works 
    if we change the ending position to more than a grid away
    this element will occupy multiple grids */
    grid-column: 1;
    /* we can specify how many grid it takes with "span" 
    by setting the ending value to -1 it makes it span the entire row */
    grid-row: 2 / span 1;
}
