.container {
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 40px;
    margin: 40px;

    /* FlexBox */
    /* we can change flex-direction to column and make everything vertical */
    /* all the order default is always 0 */
    /* flex items are the child elements of this container
    everything is as tall as the tallest one(so the height is 150px like --3) */
    display: flex;
    /* this causes each element to have its own height
    
    stretch(default): everything on the top and have the same height
    center: everything centered vertically
    flex-top: everything on the top
    flex-bottom: everything on the bottom
    
    */
    align-items: center;
    /* 
    center: center all the element in the container
    space-between: equally divide the leftover the space between all the elements
    if there are only two elements, 
    this will send them to the opposite sides of the container
    */
    justify-content: center;
    gap: 30px;
}

.el{
    /* for the flex properties always use flex: and not any of them individually */
    /* 
    DEFAULT
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 

    flex: 0 1 auto;
    */

    /* this set the size of each element to 100px, 
    but is the element need more space the browser will automaticly extend
    so this is not regid like width that forces the size to be 100px */
    /* 
    flex-basis: 100px; 
    flex: 0 1 100px;
    */

    /* by default with flex-shrink: 1
    this allows the flexbox to automaticly shrink the elements to fit the container
    is flex-shrink can be disabled by setting to 0 */

    /* this allows all the elements to grow to the same size 
    and occupy all the space there is in the container 
    if this is placed in one of the element, only that element will grow 
    and occupy all the space 
    
    if all the element are set to flex-grow: 1
    but one element is set to flex-grow: 2
    then this element will get double the remaining space compare to other elements
    */
    /* flex-grow: 1; */
    flex: 1;
}

.--1 {
    background-color: aqua;
    align-self: flex-start;
    order: 2;
}
.--2 {
    background-color: blue;
}
.--3 {
    background-color: red;
    height: 150px;
}
.--4 {
    background-color: violet;
    align-self: stretch;
}
.--5 {
    background-color: yellow;
    order: 1;
}
.--6 {
    background-color: green;
    order: -1;
}
.--7 {
    background-color: pink;
}
.--8 {
    background-color: orange;
}
