/* 
priority(if there are styles on the same level the last one have the priority): 
    !important (usually not used, it is a last resort)
    inline HTML style
    id selector: #[name]
    class selector: .[name]
 or pseudo class selector: :[name]
    element selector: [name]
    universal selecter: *
universal selecter selects everyone single elements in the web. (no inheritance)
class(we need it multiple times)
id(can't reuse)
always do class just incase we need another one in the future
RGBA (red, green, blue, transparence)
CSS use hexadecimal more
#00ffff cyan
 R G B
short hand: #0ff
             RGB

Border is the border
padding is the space inside the border
margin is the space outside the border
do margin-top or margin-bottom to space elements, keep it consistent
when there are multiple margin in the same area they will overlap each other
when adding background color or background image, 
it will be using not only the content area, but everything within the border. 

for width and height, 
if 100% is used is it always going to be the same size as the window

width and height and top/bottom margin and padding don't work for inline elements
padding will fill in the space top/bottom, but it will not shifts the elements, 
it will cover up other elements

when "display: inline-block;" it will have will be a block box, 
but it will also be like inline boxes and only occupy the space it need 
and there are also no line break
image is a defult inline-block element

Normal flow is the default position of elements in html
or we can archieve this by setting "position:relative"
Abosolute positioning is a way to make an element "out of flow"
this makes the element have a impact on the surrounding elements
(could overlap with the surrounding)
to archieve this by setting "position:absolute"
*/

* {
    margin: 0;
    padding: 0;
}
h1 {
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}
/* inheritance */
/* by add style to the body, it inherits to all the elements in the body */
body {
    /* color names, HTML5 color names, hexdecimal values, RGB values */
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    /* the default font size */
    font-size: 16px;
    font-weight: normal;
    /* alternative */
    font: normal 16px Arial, Helvetica, sans-serif;

    /* space between lines */
    line-height: 1.6em;
    margin: 0;

    /* ...by making the parent element(this case the body) to relative
    this makes the botton not relative to the view board, but the parent element */
    position: relative;
}

/* this is used to box everything together to set size and margin */
.container {
    /* for container we want to do %, 
    this allows the text to change size base on the website size */
    width: 80%;
    /* auto sets the margin the same for all sides */
    margin: 0 auto;
}

.box-1 {
    background-color: #333;
    /* don't do this not a great way but it forces this style to be displayed*/
    color: #fff !important;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* same as above */
    border: 5px red solid;
    border-top-style: dotted;
    /* same as border, can do the four sides */
    padding: 20px;
    /* with 2 numbers, the first is top/bottom, the second is left/right */
    padding: 20px 40px;
}
/* .box-1 h1 {
    color: lightgreen;
} */

#heading {
    color: cyan;
}
/* psuedo elements :: use to modifiy elements we can't select with HTML*/
h1::first-letter {
    font-size: 50px;
}
/* this uses the "+" to select a sibling element, 
which is the element with the same parent, and the right after */
h1 + p::first-line {
    color: red;
}
h1 {
    position: relative;
}
h1::after {
    /* we have to have this no matter if there are content or not */
    content: "TOP";
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: -25px;
}

ul {
    list-style: georgian;
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

/* Pseudo classes */
li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
    margin-bottom: 0;
}

li:nth-child(2) {
    color: red;
}

/* This is the order for these four styling */
/* the way to style hyperlinks */
/* not all <a> are links */
a:link {
    color: cyan;
    text-decoration: none;
    /* change the link to a block of text that take up the entire line of space */
    display: block;
}
/* link you visited */
a:visited {
    color: goldenrod;
}
/* link you are hovering over */
a:hover {
    color: sandybrown;
    font-weight: bold;
    text-decoration: underline wavy sandybrown;
}
/* link you are clicking on */
a:active {
    background-color: black;
    font-style: italic;
}
/* absolute positioning */
button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    /* this is relative to the view board so the button will always be at the
    top of the website 
    to make this better check the body...*/
    right: 10%;
    bottom: 10%;
}
