/* 
select class(we need it multiple times) with .
select id(can't reuse) with # 
always do class just incase we need another one in the future
RGBA (red, green, blue, transparence)
CSS use hexadecimal more
#00ffff cyan
 R G B
short hand: #0ff
             RGB
*/

h1 {
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

body {
    /* color names, HTML5 color names, hexdecimal values, RGB values */
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    /* the default font size */
    font-size: 16px;
    font-weight: normal;
    /* alternative */
    font: normal 16px Arial, Helvetica, sans-serif;

    /* space between lines */
    line-height: 1.6em;
    margin: 0;
}

/* this is used to box everything together to set size and margin */
.container {
    /* for container we want to do %, this allows the text to change size base on the website size */
    width: 80%;
    /* auto sets the margin the same for all sides */
    margin: auto;
}

.box-1 {
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* same as above */
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
}
/* .box-1 h1 {
    color: lightgreen;
} */

#heading {
    color: cyan;
}

ul {
    list-style: georgian;
}

/* Pseudo classes */
li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(2) {
    color: red;
}

/* This is the order for these four styling */
/* the way to style hyperlinks */
/* not all <a> are links */
a:link {
    color: cyan;
    text-decoration: none;
}
/* link you visited */
a:visited {
    color: goldenrod;
}
/* link you are hovering over */
a:hover {
    color: sandybrown;
    font-weight: bold;
    text-decoration: underline wavy sandybrown;
}
/* link you are clicking on */
a:active {
    background-color: black;
    font-style: italic;
}