.container1 {
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 40px;
    margin: 40px;

    /* basic CSS grid */
    display: grid;
    /* this means we created 4 columns with these sizes */
    /* the number of rows will be automaticly generated 
    to fit all the elements */
    /* every element in the same row will be the same height 
    as the tallest element in the row */
    grid-template-columns: 250px 250px 150px 150px;
    /* this is for rows */
    /* if an element have an already defined size it will not stretch */
    grid-template-rows: 300px 200px;
    /* this is the only to add space between grid
    margin won't work */
    /* gap: 30px */
    column-gap: 30px;
    row-gap: 60px;
}

.container2 {
    display: none;

    font-family: sans-serif;
    background-color: black;
    font-size: 40px;
    margin: 100px;

    width: 1000px;
    height: 600px;
}


.--1 {
    background-color: aqua;
}
.--2 {
    background-color: blue;
}
.--3 {
    background-color: red;
    height: 150px;
}
.--4 {
    background-color: violet;
}
.--5 {
    background-color: yellow;
}
.--6 {
    background-color: green;
}
.--7 {
    background-color: pink;
}
.--8 {
    background-color: orange;
}
