.container {
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 40px;
    margin: 40px;

    /* FlexBox */
    /* all the order default is always 0 */
    /* flex items are the child elements of this container
    everything is as tall as the tallest one(so the height is 150px like --3) */
    display: flex;
    /* this causes each element to have its own height
    
    stretch(default): everything on the top and have the same height
    center: everything centered vertically
    flex-top: everything on the top
    flex-bottom: everything on the bottom
    
    */
    align-items: center;
    /* 
    center: center all the element in the container
    space-between: equally distribute the space between all the elements
    */
    justify-content: center;
    gap: 30px;
}

.el{
    /* 
    DEFAULT
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 
    */
    
}

.--1 {
    background-color: aqua;
    align-self: flex-start;
    order: 2;
}
.--2 {
    background-color: blue;
}
.--3 {
    background-color: red;
    height: 150px;
}
.--4 {
    background-color: violet;
    align-self: stretch;
}
.--5 {
    background-color: yellow;
    order: 1;
}
.--6 {
    background-color: green;
    order: -1;
}
.--7 {
    background-color: pink;
}
.--8 {
    background-color: orange;
}
